html,
body {
  height: 97%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("/assets/background-image-of-palm-leaves-2023-03-14-06-40-05-utc.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.burger,
.menu,
.background {
  position: fixed;
}




.burger {
  z-index: 4;
  top: 10px;
  left: 10px;
  display: grid;
  place-items: center;
  width: 5%;
  height: 5%;
  font-size: large;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  background-color: #07030a00;
  border-radius: 10px;
}

body.open .burger {
  background-color: rgba(0, 0, 0, 0);
}

.background {
  position: fixed;
  z-index: 2;
  top: 44px;
  left: 44px;
  aspect-ratio: 1 / 1;
  translate: -50% -50%;
  height: 88px;
  background: #07030a;
  border-radius: 50%;
  opacity: 0;
  transition: 0.6s;
}

body.open .background {
  height: 300vh;
  opacity: 0.8;
}

body .open .menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.05s;
}

body .menu nav:hover > a {
  opacity: 0.25;
}

body .menu nav > a:hover {
  opacity: 1;
  translate: 8px 0;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 32px;
  padding: 20px 0 20px 20px;
  text-decoration: none;
  opacity: 0;
  transform: 0, 4s;
}

.menu a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -26px;
  translate: 0 -50%;
  width: 10px;
  height: 10px;
  border-top: 3px solid #ffff;
  border-right: 3px solid #ffff;
  opacity: 0;
  rotate: 45deg;
  transition: 0.3s;
}

.menu a:hover::after {
  opacity: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }
  100% {
    opacity: 1;
  }
}

body.open .menu a {
  opacity: 1;
  animation: appear 0.35s backwards;
}

/* Header */

.header {
  height: 100%;
  color: white;
}

.h1_header {
  color: white;
}

/* Footer */

footer {
  padding-top: 50%;
  background-color: #07030a;
  color: aliceblue;
}

footer.top {
  position: relative;
  display: grid;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
}

footer.top > img {
  height: 50px;
  margin: 0 auto 50px;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

footer.top .links-column {
  display: grid;
  gap: 10px;
  text-align: center;
}

footer.top h2 {
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

footer.top p {
  padding: 0;
  margin: 0;
  height: 20px;
}

footer.top a {
  color: white;
  text-decoration: none;
}

footer.top .socials {
  position: absolute;
  left: 50%;
  bottom: 10px;
  translate: -50% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  height: 50px;
}

footer.top .socials > a {
  font-size: 24px;
}

.socials-column :is(h2, p) {
  display: none;
}

footer.bottom {
  display: flex;
  padding: 20px 0;
}

.bottom_text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.legal > a {
  color: white;
  text-decoration: none;
  margin-right: 4px;
}

.legal,
.copyright {
  font-size: 12px;
}

@media (width > 400px) {

   
  .links-column {
    text-align: left;
  }

  footer.top .links {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 50px;
  }

  footer.top .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
    left: 0;
    translate: 0;
  }

  footer.top > img {
    height: 80px;
    margin: 50px;
  }

  footer.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    text-align: center;
  }
}

@media (width > 640px) {
  footer {
    margin: 0 auto;
    max-width: auto;
    padding: 0;
  }

  footer.top .links {
    grid-template-columns: repeat(3, 1fr);
  }

  footer.top .socials {
    position: static;
  }

  footer.bottom {
    justify-content: flex-start;
  }

  .socials-column :is(h2, p) {
    display: block;
  }
  
}
